<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="home">
      <ion-icon name="home" color="amarelo"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="produtos">
      <ion-icon name="list"  color="amarelo"></ion-icon>
      <ion-label>Produtos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person"  color="amarelo"></ion-icon>
      <ion-label>Perfil do Usuario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
