.img-responsive {
    width: 70%;
    height: 300px;
    align-items: center;
    margin-left: 47px;
}

h1{
    text-align: center;
}
 
h2{
    font-weight: bold;
}

ion-label {
    font-weight: bold;
}

h5{
    text-align: center; 
}