    ion-toolbar {
        height: 100%;
        
    }

    ion-header {
        height: 70px;
        width: 100%;
        
    }

    h1{
        text-align: center;
    }
  
    h2 {
        text-align: center;
        font-size: 25px;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
    }

    
    ion-title {
        font-size: 20px;
        vertical-align: middle;
        text-align: left;
        padding-top: 15px;
    }

    .imagemHome{
    height: 100px;
    width: 100%;

    }

    ion-card{

        height: 230px;
        width: auto;
        background-image: url('../../../assets/img/geom.jfif');
        font-family: Arial, Helvetica, sans-serif;
    }

   .pdestaque{
       height: 40px;
       background-image: url('../../../assets/img/preto.jfif');
   }

   