<ion-header>
    <ion-toolbar color="dark">
      <ion-title ion-text-center color="light">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <h1>BFADSFAFASDF !</h1>
<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <h1><img src="assets/img/bannerkh3.jpg" alt="your image" class="img-responsive"></h1>
  </ion-slide>
  <ion-slide>
    <h1><img src="assets/img/console.png" alt="your image" class="img-responsive"></h1>
  </ion-slide>
  <ion-slide>
    <h1><img src="assets/img/bannerrazer.jpg" alt="your image" class="img-responsive"></h1>
  </ion-slide>
</ion-slides>
</ion-content>